{{define "model_table" }}
	<div class="block-box">
		<div class="col-12">
			<div class="block">
				<h3>{{.Title}}</h3>

				<!-- 筛选区域 -->
                {{ template "table_search"}}

				<!-- 表头按钮区域 -->
				<div class="table-tools">
					<button id="table-btn-0" class="hl middle"><i class="ri-add-circle-line"></i>新建数据</button>
					<button id="table-btn-1" class="middle"><i class="ri-delete-bin-line"></i>批量删除</button>
					<button id="table-btn-2" class="middle"><i class="ri-focus-line"></i>自定义回调</button>
					<button id="export-excel" class="middle" data-loading="数据导出中..."
							data-do="exportExcel_1706514175885428055">
						<i class="ri-download-2-line"></i>导出excel
					</button>
					<button id="t-head-setting" class="middle mr0 fr">
						<i class="ri-settings-2-line"></i>表头
					</button>
				</div>
				<div id="table"></div>
			</div>
		</div>
	</div>
	<!-- 填充模板数据 -->
	<script>
        let tablePageKey = {{.TablePageKey}};
        let columns = {{.Columns}};
        console.log(columns)
	</script>
	<script src="/eui_static/js/model_table.js"></script>
{{end}}