{{define "error"}}
	<!-- 布局外层盒子 -->
	<div class="block-box">
		<!-- 栅格盒子 -->
		<div class="col-12">
			<!-- 内层内容容器盒子（如果页面是在弹窗内则不需要该容器） -->
			<div class="block">
				<p>{{.error_message}}</p>
			</div>
		</div>
	</div>
    {{if .debug }}
		<div class="block-box">
			<!-- 栅格盒子 -->
			<div class="col-12">
				<!-- 内层内容容器盒子（如果页面是在弹窗内则不需要该容器） -->
				<div class="block">
                    {{range $item := .error_stacks}}
						<h4>{{$item}}</h4>
                    {{end}}
				</div>
			</div>
		</div>
    {{end}}
{{end}}