{{define "error"}}
    <div>
        <p style="color: red">{{.error_message}}</p>
        {{if .debug}}
            <p>错误堆栈信息：</p>
            <ul>
                {{range $stack := .error_stacks}}
                    <li>{{$stack}}</li>
                {{end}}
            </ul>
        {{end}}
    </div>
{{end}}