<h1>{{.Title}}</h1>
<table border="1">
    <thead>
        <tr>
            {{range $colIndex,$col := .Columns}}
                <td>{{$col.Title}}</td>
            {{end}}
        </tr>
    </thead>
    <tbody>
    {{range $rowIndex, $row := .Data}}
    <tr>
        {{range $colIndex, $cell := $row}}
            <td>{{$cell }}</td>
        {{end}}
    </tr>
    {{end}}
    </tbody>
</table>